<div>This is view at shut.html.erb</div>

<p>@current_counter value will be passed from credit_cards_controller</p>

<%= "Currently at counter #{@current_counter}" %>
<br/>
<%= "Still counter but in params[:current_controller] #{params[:current_controller]}" %>