<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>
<div>Hello, dogs</div>

<a href='/demo/hello'>href a tag to hello page</a>
<br/>
<%= link_to('Link_to components to hello page', {:action => 'hello'}) %>
<br/>
<%= link_to('Link_to components to hello page with params', {:action => 'hello', :page => 5, :id => 20}) %>